/* CSS STYLE SHEET OVERRIDE */

.diff-button {
    min-width: 80%;
    max-width: 80%;
    min-height: 10%;
    text-align: center;

}

.hint-button {
    min-width: 80%;
    min-height: 10%;
}

.btnans {
    min-width: 70%;
    min-height: 12%;
    margin: 10px;
}

.trivia-title {
    color: #EEEEEE;
    font-size: 62px;
    margin-bottom: 10%;
}

.portfolio-btn {
    background-color: #EEE;
    opacity: 70%;
}


h0 {
    font-size: 64px;

}

button {
    font-family: Arial, Helvetica, sans-serif
}

.info-class {
    background-color: #DDD;
    padding: 4%;
    margin: 2%;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
#the-answer {
    background-color: #AAA;
    padding: 6%;
    margin: 3%;
    text-align: center;
    font-size: 32px;
    font-weight: bolder;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
}
#first-hint, #second-hint {
    background-color: lightskyblue;
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    color: #222;
    font-family: Arial, Helvetica, sans-serif;
}
#question {
    background-color: #AAA;
    font-size: 64px;
}
#hint-button-1, #hint-button-2 {
    text-align: center;
    font-size: 22px;
    min-width: 30%;

}
.title-class {
    position: relative;
    left: -7.223%;
    background-color: lightseagreen;
    color: black;
    font: 72px;
    font-weight: bolder;
    text-align: center;
}

.btn-nav {
    width: 85%;

    font-size: 24px;
    padding: 15px;

    
}

